<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let annonce of annonces">
      <div class="card mb-3">
        <!-- Si vous avez une image associée à l'annonce, vous pouvez l'ajouter ici -->
        <div class="card-body">
          <h5 class="card-title">{{ annonce.title }}</h5>
          <img *ngIf="annonce.item" [src]="annonce.item" alt="Annonce Item" class="img-fluid">
          <!-- Autres champs et éléments de votre annonce -->
          <p class="card-text">{{ annonce.description }}</p>
          <p class="card-text">Date: {{ annonce.date | date }}</p>
          <!-- Ajoutez d'autres champs pour les autres informations de l'annonce -->

          <!-- Ajout du bouton pour aller quelque part (exemple avec un lien vers l'annonce) -->
          <a href="/annonce/{{ annonce.id }}" class="btn btn-primary">Voir l'annonce</a>
        </div>
      </div>
    </div>
  </div>
</div>

